
* {
  box-sizing: border-box;
}

body {
  padding: 10px;
  background:whitesmoke;
}
/*--- top navigation ---*/

.homeButton  {
  display: flex;
  justify-content: flex-start;
  font-size: 40px;
  padding: 15px;
  font-family: joschmi;
  font-weight: 400;
  font-style: normal;
  grid-area: home;
}

.topNav {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 1;
  grid-template-areas:
  "home contact";
}

.contact  {
  grid-area: contact;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  align-items: center;
  font-family: joschmi;
  letter-spacing: 1px;
}
/*--- end top navigation ---*/

/*--- main header ---*/

.headerContainer    {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background-color:whitesmoke;
}

.header {
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 170px;
  padding: 10px;
  text-align: center;
}

.header h1 {
  font-size: 76px;
  font-family: 'montserrat', sans-serif;
  font-weight: 1;
}
p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}
.topNav {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 1;
  grid-template-areas:
  "home contact";
}

.contact  {
  grid-area: contact;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  align-items: center;
  font-family: joschmi;
  letter-spacing: 1px;
}

/*---end Main Header ---*/

/* ---- typist section -------*/

@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

#typist-element {
  &:after {
    content: " ";
    display: inline-block;
    height: 47px;
    position: relative;
    top: 10px;
    margin-left: 3px;
    margin-right: 7px;
    width: 4px;
    background: #06a44d;
    animation: blink 1s step-start 0s infinite;
    -webkit-animation: blink 1s step-start 0s infinite;
  }
}
/*-----end of typist section------*/
.selectedText {
  display: none;
}

/* Style the top navigation bar */
.topnav {
  display: flex;
  overflow: hidden;
  background-color: #36454F;
  justify-content: space-around;

}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
  font-family: 'Montserrat', sans-serif;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: white;
  padding-left: 20px;
  font-family: 'Montserrat', sans-serif;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}


/* Add a card effect for articles */

.cardOne {
  display: flex;
  justify-content: flex-end;
  height: 250px;
  padding: 5px;
  background-color: #36454F;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-style: thin;
  font-weight: 300;
}

.cardTwo {
  display: flex;
  justify-content: flex-end;
  height: 250px;
  padding: 5px;
  background-color: #263F52;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-style: thin;
  font-weight: 300;
}

.cardThree {
  display: flex;
  justify-content: flex-end;
  height: 250px;
  padding: 5px;
  background-color: #1F3252;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-style: thin;
  font-weight: 300;
}

.cardFour {
  display: flex;
  justify-content: flex-end;
  height: 250px;
  padding: 5px;
  background-color: #153823;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-style: thin;
  font-weight: 300;
}

.columnMenu    {
  display: grid;
  height: 250px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  row-gap: 10px;
  grid-template-areas:
}



/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
  
}
/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: white;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
